.imageDiv {
  background: url("https://plus.unsplash.com/premium_photo-1720192861641-8ae1f5e7bd54?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.PolicyDiv {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.PolicyDiv::-webkit-scrollbar {
  display: none;
}
